.app-header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(49, 50, 51);
    height: 50px;
    color: white;
  }

.header-icons {
    height: 35px;
    width: 35px;
    margin: 10px;
    color: #8e8e8e;
}

.header-links {
    color: inherit;
}

.header-icons:hover {
    color:white;
}