.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.skill-description {
    text-align: center;
}

.skill-icon-disciplin {
    width: 150px;
    height: 150px;
}

.skill-headline-disciplin {
    color: #2288CC;
}

.skill-description-text {
    font-size: 1.2em;
    padding: 5px;
}

.skill-icon {
    width: 100%;
    height: 100%;
}